.wd-background-color {
    background-color: black;
}

.wd-container {
    overflow: hidden;
    position: absolute;
    width: 600px;
    left: 30%;
    border: 1px solid rgb(47, 51, 54);
}

.wd-topnav {
    /*margin-left: 16px;*/
    /*padding-right: 12px;*/
    /*border: 1px solid rgb(47, 51, 54);*/
    height: 115px;
}

.wd-post {
    padding: 16px;
    border: 1px solid rgb(47, 51, 54);
}

.wd-breakline {
    background-color: rgb(33, 35, 39);
    border: 2px solid rgb(47, 51, 54);
    height: 10px;
}

.wd-search {
    font-family: "Helvetica Neue";
    float: left;
    width: 95%;
    height: 30px;
    padding: 16px;
}

.wd-round {
    float: left;
    background-color: rgb(33, 35, 39);
    width: 70%;
    height: 20px;
    border-radius: 30px;
    border-color: black;
    padding: 5px 5px 5px 25px;
    position: absolute;
}

.wd-gear {
    color: rgb(29, 161, 242);
    float: right;
    font-size: 26px;
    margin-right: 12px;
    text-decoration: none;
}

/* Style the links inside the navigation bar */
.wd-navigation a {
    float: left;
    background-color: black;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: rgb(110, 118, 125);
}

/* Style the "active" element to highlight the current page */
.wd-navigation a.wd-active {
    color: rgb(29, 161, 242);
    text-decoration: none;
}

.wd-border-rounded {
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 99px;
    width: 16px;
    position: relative;
    left: 16px;
    border-bottom: 4px solid rgb(29, 161, 242);
}

.wd-label-13px {
    margin: 2px;
    font-family: "Helvetica Neue";
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-title-23px {
    margin: 2px;
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: bold;
    color: rgb(233, 233, 233)
}


.wd-post-img {
    float: left;
    width: 70%;
    margin: 15px 0px 15px 0px;
}

.wd-float-img {
    float: right;
    display: inline;
    width: 100px;
    height: 100px;
}

.wd-post-content {
    height: 100px;
    padding: 16px;
    border: 1px solid rgb(47, 51, 54);
}


/*= = = = = = = = = = = = = = = = = BOOKMARK STYLE = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =*/

.wd-bookmark-container {
    overflow: hidden;
    position: absolute;
    width: 600px;
    left: 30%;
    border: 1px solid rgb(47, 51, 54);
}

.wd-bookmark-post {
    height: 55px;
}

.wd-main-content {
    border-top: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    padding-bottom: 16px;
}

.wd-bookmark {
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: white;
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.wd-handel-13px {
    margin: 0px 0px 1px 16px;
    font-family: "Helvetica Neue";
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-top: 12px;
    float: left;
}

.wd-title-15px {
    float: left;
    font-size: 15px;
    font-family: "Helvetica Neue";
    color: white;
    margin: 12px 4px 0px 12px;
}

.wd-handel-15px {
    float: left;
    margin-top: 12px;
    margin-bottom: 1px;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.wd-content-15px {
    margin: 12px 12px 12px 76px;
    max-width: 506px;
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: white;
}

.wd-img-post {
    margin-left: 76px;
    width: 504px;
    height: 264px;
    border-radius: 25px 25px 0px 0px;
    position: relative;
}

.wd-content {
    margin-left: 76px;
    margin-top: -5px;
    width: 478px;
    height: 60px;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid rgb(47, 51, 54);
    border-top: none;
    font-size: 15px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: white;
    padding: 12px;
    position: relative;
}

.wd-content-padding15px {
    font-size: 15px;
    font-weight: normal;
    font-family: "Helvetica Neue";
    color: lightgray;
}

.wd-reaction {
    margin-left: 76px;
    color: lightgray;
    margin-bottom: 20px;
}

